<script>
var display = new Display();
jQuery(function() {
  jQuery("#display #text").fitText();
});
</script>

<div id="display">
  <div id="identifier"></div>
  <div id="text"></div>
  <div id="countdown"></div>
</div>