<%= stylesheet_link_tag    "jquery_ui", media: "all" %>
<%= javascript_include_tag "angular_app" %>

<script>
window.manager = new Manager()
</script>

<div ng-app="manager" ng-controller="ManagerController">
  <div class="jumbotron">
    <div class="container">
      <div>
        <h1>So Displayed</h1>
        <form class="form-inline" role="form" ng-submit="showText(textToDisplay);$event.preventDefault()">
          <div class="form-group">
            <label class="sr-only" for="text">Text</label>
            <input type="text" class="form-control" id="text" placeholder="So Coded" ng-model="textToDisplay">
          </div>

          <button type="submit" class="btn btn-primary btn-lg">Show Text</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-lg-4">
        <h2>Displays</h2>
        <div ng-hide="displays.length > 0">
          No displays connected
        </div>
        <div ng-show="displays.length > 0">
          <p>
            <a href="#" ng-click="reloadAll()" confirm-with="Reload all displays?">Reload all displays</a>
          </p>
          <p>
            <a href="#" ng-click="identifyAll()" confirm-with="Identify all displays?">Identify all displays</a>
          </p>
        </div>
        <ol ui-sortable ng-model="displays" class="list-group">
          <li ng-repeat="display in displays" class="list-group-item">
            <a disable-link ng-click="identifyDisplay(display)" title="Identify display" href="#"><span class="glyphicon glyphicon-bullhorn"></span></a>
            <a disable-link confirm-with="Reload display?" ng-click="display.reload()" title="Identify display" href="#"><span class="glyphicon glyphicon-refresh"></span></a>
            {{displays.indexOf(display)}} |
            {{display.id}}
          </li>
        </ol>
      </div>

      <div class="col-lg-4">
        <h2>Countdown</h2>
        <p ng-hide="countDownRunning">
          <button type="submit" class="btn btn-danger btn-lg" confirm-with="Start countdown?" ng-click="countdown()">3…2…1…</button>
        </p>
        <p ng-show="countDownRunning">
          Countdown in progress
        </p>
     </div>
      <div class="col-lg-4">
        <h2>Effects</h2>
        <p>
          <a class="btn btn-default" href="#" ng-click="blink()" disable-link>Blink</a>
        </p>
      </div>
    </div>

    <hr>

    <footer>
      <p>&copy; Company 2013</p>
    </footer>
  </div> <!-- /container -->
</div>